fastapi==0.118.0
httpx==0.28.1
python-dotenv
python-multipart==0.0.20
uvicorn
typer
pydantic==2.11.9
PyYAML
pytest
Pygments<2.19
pytest-cov
ruff==0.2.1
black
python-docx
pymupdf
pypdf
openpyxl
pillow
pytesseract
streamlit
pre-commit
tqdm
slowapi
starlette==0.48.0
prometheus-client
numpy
